COMPOSE_PROJECT_NAME=tandem

POSTGRES_PORT=5432
POSTGRES_USER=tandem
POSTGRES_PASSWORD=secret_postgres
POSTGRES_DB=tandem
POSTGRES_TEST_DB=tandem_test

REDIS_PORT=6379
REDIS_PASSWORD=secret_redis

MINIO_ROOT_USER=tandem
MINIO_ROOT_PASSWORD=secret_minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=tandem-files