ENV=prod
COMPOSE_PROJECT_NAME=tandem
APP_ENV=production

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=tandem
POSTGRES_PASSWORD=secret_postgres
POSTGRES_DB=tandem
POSTGRES_IMAGE=postgres:15.4-alpine

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret_redis
REDIS_IMAGE=redis:7.2-alpine

MINIO_ROOT_USER=tandem
MINIO_ROOT_PASSWORD=secret_minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=tandem-files
MINIO_IMAGE=minio/minio:RELEASE.2024-05-27T19-17-46Z

POSTGRES_IMAGE_PROD=postgres:15.4-alpine
REDIS_IMAGE_PROD=redis:7.2-alpine
MINIO_IMAGE_PROD=minio/minio:RELEASE.2024-05-27T19-17-46Z

JWT_SECRET=secret_jwt
ADMIN_LOGIN=admin
ADMIN_PASSWORD=secret_admin
WEB_PORT=8080