ENV=prod
APP_ENV=production
TAG=latest

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=tandem
POSTGRES_PASSWORD=secret_postgres
POSTGRES_DB=tandem
POSTGRES_IMAGE=postgres:15.4-alpine
POSTGRES_IMAGE_PROD=postgres:15.4-alpine

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=secret_redis
REDIS_IMAGE=redis:7.2-alpine
REDIS_IMAGE_PROD=redis:7.2-alpine

MINIO_ROOT_USER=tandem
MINIO_ROOT_PASSWORD=secret_minio
MINIO_API_PORT=9010
MINIO_CONSOLE_PORT=9011
MINIO_BUCKET=tandem-files
MINIO_PUBLIC_ENDPOINT=localhost:8081
MINIO_IMAGE=minio/minio:RELEASE.2024-05-27T19-17-46Z
MINIO_IMAGE_PROD=minio/minio:RELEASE.2024-05-27T19-17-46Z

JWT_SECRET=secret_jwt
JWT_TTL=30m
JWT_REFRESH_TTL=168h
ADMIN_LOGIN=admin
ADMIN_PASSWORD=secret_admin
SWAGGER_ENABLED=false
WEB_PORT=8081
TRUSTED_PROXIES=172.16.0.0/12,127.0.0.1